.wrapper {
    padding-top: 130px;
    background: url('/images/header-bg.webp') no-repeat center center / cover;
    position: relative;
    padding-bottom: 200px;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.button {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 25px;
    border: none;
    background-color: #b40000;
    color: #fff;
    margin-bottom: 35px;
    text-transform: uppercase;
    border-radius: 40px;
}

.title,
.subtitle {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
    font-family: Poppins, sans-serif;
    text-align: center;
}
.subtitle {
    color: #FF4B44;
    margin-top: 20px;
}

@media screen and (max-width: 992px) {
    .wrapper {
        padding: 50px 0;
        padding-bottom: 150px;
    }
    .button {
        font-size: 15px;
        margin-bottom: 30px;
    }
    .title,
    .subtitle {
        font-size: 30px;
        text-align: center;
    }
}