.timer {
    background: #2e2e2e;
    padding: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
}


.timer__title {
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    font-family: Poppins, sans-serif;
    margin-bottom: 20px;
}

.timer__blocks {
    display: flex;
    flex-flow: row nowrap;
}
.timer__blocks div {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 30px;
}
.timer__blocks div span:nth-child(1) {
    font-size: 60px;
    line-height: 1em;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.timer__blocks div span:nth-child(2) {
    margin-top: 5px;
    font-size: 16px;
    line-height: 1em;
    font-family: Poppins, sans-serif;
    color: #b7b7b7;
}

@media screen and (max-width: 992px) {
    .title {
        font-size: 30px;
        text-align: center;
    }
    .timer {
        max-width: calc(100vw - 20px);
        padding: 40px 25px;
        width: 100%;
    }
    .timer__title {
        font-size: 15px;
    }
    .timer__blocks div {
        margin: 0 10px;
    }
    .timer__blocks div span:nth-child(1) {
        font-size: 30px;
    }
}