.wrapper {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100%;
    overflow: hidden;
}


.footer {
    width: 100%;
    height: 400px;
    position: relative;
}

@media screen and (max-width: 992px){
    .footer {
        height: 250px;
        width: 200%;
        display: flex;
        align-items: flex-end;
    }
    .footer img{
        width: 100%;
    }
}