.form {
    max-width: 490px;
    padding: 0 15px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.field {
    width: 100%;
    padding: 18px 0px;
    border: none;
    border-bottom: 2px solid #000;
    font-size: 18px;
    margin-bottom: 20px;
    border-radius: 0px;
    box-shadow: none;
    background-color: transparent;
    box-sizing: border-box;
    outline: none;
    transition: all 0.3s;
    color: #000;
}

.field:focus {
    border-bottom: 2px solid #7cbc4c;
    transition: all 0.3s;
}

.button {
    display: inline-block;
    border-radius: 100px;
    background-color: #94c86d;
    color: #ffffff;
    padding: 20px 40px;
    font-size: 18px;
    border: none;
    box-shadow: none;
    margin-top: 10px;
    cursor: pointer;
    line-height: 1em;
    width: auto;
}

.button:hover {
    background-color: #7cbc4c;
    color: #ffffff;
}

.title {
    font-size: 40px;
    font-weight: 400;
    color: #000;
    font-family: Poppins, sans-serif;
    text-align: center;
    line-height: 50px;
    margin-bottom: 50px;
}

.success {
    max-width: 490px;
    padding: 0 15px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 70px;
}

.success__title {
    font-size: 40px;
    font-weight: 400;
    color: #000;
    font-family: Poppins, sans-serif;
    text-align: center;
    line-height: 50px;
    margin-bottom: 15px;
}

.success__text {
    font-size: 17px;
    font-weight: 400;
    color: #000;
    font-family: Poppins, sans-serif;
    text-align: center;
}
.form__wrapper {
    width: 100%;
    max-width: 490px;
}

.contacts {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.contacts__title {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    font-family: Poppins, sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

.contacts__phone {
    font-size: 16px;
    font-family: Poppins, sans-serif;
    color: #000;
    margin-bottom: 15px;
}

.contacts__block {
    display: flex;
    flex-flow: row nowrap;
}
.contacts__block a:nth-child(1)  {
    margin-right: 20px;
}

.error {
    color: red;
    font-size: 16px;
    font-family: Poppins, sans-serif;
}

@media screen and (max-width: 992px){
    .title {
        font-size: 30px;
        line-height: 40px;
    }
}