.wrapper {
    padding-top: 50px;
    padding-bottom: 50px;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    font-weight: 900;
    color: #000;
    font-family: Poppins, sans-serif;
    margin-bottom: 20px;
    text-align: center;
}

.separator {
    width: 300px;
    position: relative;
    height: 1px;
    background-color: #ff0000;
    margin-bottom: 50px;
}

.separator span {
    content: "";
    background-color: #ff0000;
    height: 10px;
    left: 50%;
    top: 50%;
    position: absolute;
    transform: rotate(-45deg);
    margin-left: -5px;
    margin-top: -5px;
    width: 10px;
}

.products {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
}

@media screen and (max-width: 1100px) {
    .products {
        max-width: 560px;
    }
}
@media screen and (max-width: 576px) {
    .title {
        font-size: 30px;
    }
    .products {
        flex-flow: column nowrap;
        align-items: center;
    }
}