.item {
    width: 100%;
    max-width: 260px;
    margin-bottom: 20px;
}

.image {
    width: 100%;
    height: 390px;
    overflow: hidden;
}
.image img {
    width: 100%;
    height: 100%;
    min-height: 390px;
}
.content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    border: 1px solid lightgray;
    padding-top: 20px;
}
.content h4 {
    font-size: 21px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: #000000;
    text-align: center;
    line-height: 21px;
}
.content__options {
    display: flex;
    flex-flow: column nowrap;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    color: #000;
    align-items: center;
}
.content__options span {
    margin-bottom: 7px;
}
.price {
    margin-bottom: 10px;
    display: flex;
    flex-flow: column nowrap;
    position: relative;

}

.price__sale {
    width: 50px;
    border-radius: 20px;
    background-color: #E73A52;
    color: #ffffff;
    font-weight: 300;
    font-family: Poppins, sans-serif;
    text-align: center;
    padding: 2px 5px;
    position: absolute;
    right: -60px;
    margin-top: 0px;
}

.price__actual {
    font-family: Poppins, sans-serif;
    font-size: 24px;
    color: #000000;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 3px;
}
.price__actual svg path {
    fill: #000;
}

.price__actual svg,
.price__old svg{
    margin-left: 3px;
}

.price__old {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    color: #ABAAAD;
    font-weight: 700;
    text-decoration: line-through;
}
.price__old svg path {
    fill: #ABAAAD;
}
.freeship {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    color: #000;
    margin-bottom: 5px;
    font-weight: 700;
}
.button {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 15px;
    border: none;
    background-color: #b40000;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
}

@media screen and (max-width: 992px){
    .item {
        margin-bottom: 20px;
    }
}