.wrapper {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
}
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    border-radius: 50%;
    background: #000;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
}
.container {
    background: #fff;
    padding: 35px 10px 0 10px;
    border-radius: 25px;
    position: relative;
}
