.wrapper {
    padding-top: 200px;
    padding-bottom: 50px;
}

.title {
    font-size: 40px;
    font-weight: 900;
    color: #000;
    font-family: Poppins, sans-serif;
    margin-bottom: 40px;
    text-align: center;
}

.blocks {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 15px;
}

.blocks div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.blocks div p {
    margin-left: 10px;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width: 992px){
    .wrapper {
        padding-bottom: 25px;
        padding-top: 125px;
    }
    .title {
        font-size: 30px;
    }
    .blocks div {
        margin-bottom: 10px;
    }
}