* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

@font-face {
    font-family: 'Poppins';
    font-display: swap;
    src: local('Poppins Light'), local('Poppins-Light'), url('../assets/fonts/Poppinslight.woff2') format('woff2'), url('../assets/fonts/Poppinslight.woff') format('woff'), url('../assets/fonts/Poppinslight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'), url('../assets/fonts/Poppinsregular.woff2') format('woff2'), url('../assets/fonts/Poppinsregular.woff') format('woff'), url('../assets/fonts/Poppinsregular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    font-display: swap;
    src: local('Poppins Poppins-BoldSemiBold'), local('Poppins-SemiBold'), url('../assets/fonts/Poppinspoppins-boldsemibold.woff2') format('woff2'), url('../assets/fonts/Poppinspoppins-boldsemibold.woff') format('woff'), url('../assets/fonts/Poppinspoppins-boldsemibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    font-display: swap;
    src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'), url('../assets/fonts/Poppinsextrabold.woff2') format('woff2'), url('../assets/fonts/Poppinsextrabold.woff') format('woff'), url('../assets/fonts/Poppinsextrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    font-display: swap;
    src: local('Poppins Black'), local('Poppins-Black'), url('../assets/fonts/Poppinsblack.woff2') format('woff2'), url('../assets/fonts/Poppinsblack.woff') format('woff'), url('../assets/fonts/Poppinsblack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    font-display: swap;
    src: local('Poppins Poppins-SemiBoldMedium'), local('Poppins-Medium'), url('../assets/fonts/Poppinspoppins-semiboldmedium.woff2') format('woff2'), url('../assets/fonts/Poppinspoppins-semiboldmedium.woff') format('woff'), url('../assets/fonts/Poppinspoppins-semiboldmedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    font-display: swap;
    src: local('Poppins Bold'), local('Poppins-Bold'), url('../assets/fonts/Poppinsbold.woff2') format('woff2'), url('../assets/fonts/Poppinsbold.woff') format('woff'), url('../assets/fonts/Poppinsbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

button {
    cursor: pointer;
}

